.panel-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 95%;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 20px;
}

.panel-content {
    display: flex;
    flex-direction: row;
}

.panel-block-01 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    justify-self: center;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(45deg, var(--theme) 0%, rgb(39, 224, 79) 100%);
}

.panel-left-side {
    justify-content: center;
    height: auto;
    margin-right: 30px;
    width: 300px;
}

.panel-right-side {
    width: 100%;
    background-color: #dadada !important;
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px 3px rgb(206, 206, 206);
}

.panel-hotbar {
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    border-radius: 20px 20px 0px 0px;
}

@media (max-width: 900px) {
    .panel-content {
        flex-direction: column;
    }

    .panel-left-side {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 30px;
        justify-content: center;
        height: auto;
        width: 100%;
    }
}