.login-button {
    display: block;
    width: 100%;
    min-height: 50px !important;
    font-weight: bold !important;
    background: linear-gradient(45deg, var(--theme) 0%, rgb(39, 224, 79) 100%);
    color: white !important;
    padding-block: 10px !important;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgb(39, 224, 79) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out !important;
}

.login-button:hover {
    transform: scale(1.03) !important;
    box-shadow: rgb(39, 224, 79) 0px 23px 10px -20px !important;
}

.login-button:active {
    transform: scale(0.95) !important;
    box-shadow: rgb(39, 224, 79) 0px 15px 10px -10px !important;
}

.delete-button {
    display: block;
    font-weight: bold !important;
    background: linear-gradient(45deg, var(--red-app) 0%, rgb(255, 43, 43) 100%) !important;
    color: white !important;
    padding-block: 10px !important;
    border-radius: 20px;
    box-shadow: rgb(255, 131, 131) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out !important;
}

.delete-button:hover {
    transform: scale(1.03) !important;
    box-shadow: rgb(255, 111, 111) 0px 23px 10px -20px !important;
}

.delete-button:active {
    transform: scale(0.95) !important;
    box-shadow: rgb(255, 111, 111) 0px 23px 10px -20px !important;
}

.cancel-button {
    display: block;
    font-weight: bold !important;
    background: linear-gradient(45deg, var(--blue-app) 0%, rgb(49, 121, 255) 100%) !important;
    color: white !important;
    padding-block: 10px !important;
    border-radius: 20px;
    box-shadow: rgb(131, 247, 255) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out !important;
}

.cancel-button:hover {
    transform: scale(1.03) !important;
    box-shadow: rgb(63, 192, 209) 0px 23px 10px -20px !important;
}

.cancel-button:active {
    transform: scale(0.95) !important;
    box-shadow: rgb(63, 192, 209) 0px 23px 10px -20px !important;
}